---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { fetchNasaApiData } from '../api/nasa-api';
import { fetchNasaYesterdayApiData } from '../api/nasa-yesterday-api';

const apiData = await fetchNasaApiData();
// const yesterdayApiData = await fetchNasaYesterdayApiData();
// コードフェンス（—-）内のコードは静的HTMLに変換される。サーバー側で実行されるもので、ブラウザで実行されるものではない。
// .astro部品にはJavaScriptロジックを埋め込めない。
---

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

<Layout title="Welcome to Astro.">
	<main>
    <div class="content">
      <h1 class="title-main"><img src="../img/logo.svg" alt="" /></h1>
      <div class="animation-line"></div>
      <p class="text-center text01"><span class="text-gradient">by NASA Open APIs</span></p>
      <p class="text-intro">今日の宇宙（そら）模様は、<br>NASA公式APIの画像を1日1枚<br>表示するサービスです。</p>
      <div class="instructions">
        <img src={apiData.url} alt={apiData.title} class="image" />
        <h2 class="title-name">{apiData.title}</h2>
        <p class="text-date">{apiData.date.replace(/-/g, '/')}</p>
        <p class="text-explanation">{apiData.explanation}</p>
        <p class=""><span class="text-gradient">Copyright by {apiData.copyright}</span></p>
        <!-- <a href=`${yesterdayApiData.url}`>View yesterday image</a> -->
      </div>
      <div>
      </div>
      <ul role="list" class="link-card-grid">
        <Card
          href="https://docs.astro.build/"
          title="Go to the space"
          body="View NASA Open APIs"
        />
        <Card
          href="https://sorae.info/"
          title="Go to Sky"
          body="View Japanese Universe Portal Site"
        />
      </ul>
    </div>
	</main>
</Layout>

<style>
	main {
		line-height: 1.6;
	}
  main:before {
    content: '';
    background: url('../img/bg01.png') no-repeat top -50px right -50px;
    background-size: 450px;
    z-index: -10;
    position: fixed;
    width: 450px;
    height: 400px;
    right: 0;
    top: 0;
  }
  main:after {
    content: '';
    background: url('../img/bg02.png') no-repeat bottom -50px left -50px;
    background-size: 450px;
    z-index: -10;
    position: fixed;
    width: 300px;
    height: 250px;
    left: 0;
    bottom: 0;
  }
  .content {
		margin: auto;
		padding: 120px 0 800px;
		width: 800px;
		max-width: calc(100% - 2rem);
  }
  .title-main {
    max-width: 450px;
    margin: 0 auto 60px;
  }
  .image {
    width: 100%;
  }
  .text-center {
    text-align: center;
  }
  .text01 {
    margin: 0 auto 60px;
  }
  .text-date {
    font-size: 1.2rem;
    letter-spacing: .1em;
  }
  .text-explanation {
    line-height: 2;
  }
  .text-intro {
    text-align: center;
    font-size: 1rem;
    color: #c8c8c8;
    letter-spacing: .15em;
    line-height: 2.2;
  }
	h1 {
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		letter-spacing: .05em;
	}
	h2 {
		color: black;
		text-align: center;
		font-size: 2.4rem;
    font-weight: 400;
	}
	.text-gradient {
		background-image: var(--accent-gradient03);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
    font-size: 1rem;
    letter-spacing: .08em;
	}
	.instructions {
		margin: 100px auto 60px;
		border: 1px solid rgba(var(--accent-color01), 60%);
		padding: 60px 50px;
		border-radius: 8px;
	}
	.text-copy {
		color: rgb(var(--accent-gold01));
    font-weight: 400;
    letter-spacing: .08em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
  .animation-line {
    position: absolute;
    top: 10px;
    left: 40px;
    margin: auto;
    height: 100px;
    width: 1px;
    overflow: hidden;
    transition: 1s cubic-bezier(0.22,0.61,0.36,1);
    transform: rotate(45deg);
  }
  .animation-line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: linear-gradient(rgba(var(--accent-gold01), 95%), rgba(var(--accent-color01), 90%));
    z-index: 10;
    width: 1px;
    height: 100%;
    animation: scroll 2.4s infinite normal;
}
@keyframes scroll{
  0%{
    height:0;
    top:0;
    opacity: 0;
  }
  30%{
    height:50px;
    opacity: 1;
  }
  100%{
    height:0;
    top:50px;
    opacity: 0;
  }
}
</style>
