---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { fetchNasaApiData } from '../api/nasa-api';
import { fetchNasaYesterdayApiData } from '../api/nasa-yesterday-api';

const apiData = await fetchNasaApiData();
const yesterdayApiData = await fetchNasaYesterdayApiData();
// コードフェンス（—-）内のコードは静的HTMLに変換される。サーバー側で実行されるもので、ブラウザで実行されるものではない。
// .astro部品にはJavaScriptロジックを埋め込めない。
---

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

<Layout title="Welcome to Astro.">
	<main>
    <h1 class="title-main"><img src="../img/logo.png" alt="" /></h1>
    <p class="text-center"><span class="text-gradient">by NASA Open APIs</span></p>
    <p class="text-intro">今日の宇宙（そら）模様は、<br>NASA公式APIの画像を1日1枚取得して<br>表示するサービスです。</p>
		<div class="instructions">
      <img src={apiData.url} alt={apiData.title} class="image" />
      <h2 class="title-name">{apiData.title}</h2>
      <p class="text-date">{apiData.date.replace(/-/g, '/')}</p>
      <p class="text-explanation">{apiData.explanation}</p>
      <p class="text-copy">Copyright by {apiData.copyright}</p>
      <a href=`${yesterdayApiData.url}`>View yesterday image</a>
      <p>{yesterdayApiData.url}</p>
      <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="30" />
		</div>
		<div>
		</div>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Go to the space"
				body="View NASA Open APIs"
			/>
      <Card
        href="https://sorae.info/"
        title="Go to Sky"
        body="View Japanese Universe Portal Site"
      />
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 60px 0 800px;
		width: 800px;
		max-width: calc(100% - 2rem);
		line-height: 1.6;
	}
  .image {
    width: 100%;
  }
  .text-center {
    text-align: center;
  }
  .text-date {
    font-size: 1.2rem;
    letter-spacing: .1em;
  }
  .text-explanation {
    line-height: 2;
  }
  .text-intro {
    text-align: center;
    font-size: .9rem;
    color: rgb(var(--accent-light));
    letter-spacing: .08em;
  }
	h1 {
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		letter-spacing: .05em;
	}
	h2 {
		color: black;
		text-align: center;
		font-size: 2.4rem;
    font-weight: 400;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
    font-size: 1rem;
    letter-spacing: .08em;
	}
	.instructions {
		margin: 60px auto 60px;
		border: 1px solid rgba(var(--accent-light), 25%);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.text-copy {
		color: rgb(var(--accent-light));
    font-weight: 500;
    letter-spacing: .08em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
